body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #5fcd23;
  background-color: #242728;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  border-style: hidden;
}

table td {
  border: 1px solid black;
  padding: 2px;
}

.heading {
  font-size: 2.5em;
  text-align: center;
}

.item-heading {
  font-size: 1em;
}

.item-desc {
  display: -webkit-box;
  margin-top: 1px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500;
}

section {
  margin-bottom: auto;
}

hr {
  margin-top: 30px;
  border: 0;
  width: 80%;
  height: 3px;
  font-size: 0;
  background: #a32222;
  background-image: linear-gradient(to right, #242728, #a32222, #242728);
}

.expanding-box a:link,
a:visited {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 5px;
  text-decoration: none;
  color: #4587c1;
  transition: all .2s;
}

.expanding-box a:hover {
  color: #fff;
  background: #000;
}
